@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;700;800&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

body{
    background-color: #032541;
    background-color: #05121f;
    background-color: #02111d;
    background-color: #111;
    overflow-x: hidden;
}

*{
    margin: -2px 0px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Baloo Bhaina 2', cursive; */
}

h3{
    position: absolute;
    top: 0;
    color: rgb(76, 86, 88);
    color: rgb(216, 9, 9);
    color: rgb(238, 9, 9);
    z-index: 100;
    font-size: 2.6rem;
    /* background-color: rgba(0, 0, 0, 0); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    width: 94.8%;
    width: 100%;
    overflow-x: hidden;
    padding: 0.8rem 2rem;
}

@media screen and (max-width: 600px) {
    h3{
        padding: 0.8rem 0.6rem;
    }
}

.container{
    font-size: 1.4em;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr ;
    /* border: 1px solid rgba(126, 118, 118, 0.383); */
    height: fit-content;
    border-radius: 8px;
    height: 96vh;
}